.cont_ainer{
    border: 2px solid #bababa;
    border-radius: 6px;
    box-shadow: 0 0 50px #0000001a;
    margin: 8px auto;
    max-width: 827px;
    padding: 20px;
    border-style: inset;
    margin-top: 41px;
    border-width: 6px;
  }
  .FBH{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: grid;
    grid-gap: 10px;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 1px;;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .label_FW {
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
   
  }

  .INPB{
    border-style: inset;
    border: 2px solid #bababa
  }

  .MY_PROFILE{
    color: black;
    /* border: 1px solid #252424;
    background-color: #808080;
    background: #808080; */
    text-shadow: 2px 2px 5px rgb(145, 145, 145);
    margin-top: 18px;
  }
  