.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
  }
  